@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
}

.title {
  position: relative;
}

.title::before {
  content: "";
  height: 2px;
  width: 50%;
  top: -10px;
  right: 50%;
  background-color: #fff;
  position: absolute;
  border-radius: 15px;
  transition: right 0.5s ease;
}

.title::after {
  content: "";
  height: 2px;
  width: 50%;
  bottom: -10px;
  left: 50%;
  background-color: #fff;
  position: absolute;
  border-radius: 15px;
  transition: left 0.5s ease;
}

.title:hover::after {
  left: 0;
}

.title:hover::before {
  right: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}